header.header
	.wrapper
		.header__inner
			.header-left
				.header__logo
					a(href="#" title="logo")
						img(src="/f/img/logo.png", alt="")
			.header-right
				.header-right__text
					a(href="#" title="dealer") Дилеры
				.header__burger
					.header__burger-inner
					
