-
   var carBlockLeft = {
      title: '',
      list: ['','','','','','','','','','','',]
      image: '/f/img/pattern/item2.png',
      bg: '',
      text: 'Совместное предприятие создано ПАО «Соллерс» и Ford Motor Company в 2011 году для производства автомобилей марки Ford в России.',
      position: 'left',
      iconCount: 5,
   }
   var carBlockRight = {
      image: '/f/img/pattern/item1.png',
      title: '',
      list: ['Универсальный автомобиль для любых задач по транспортировке, модификации для перевозки пассажиров и грузов','Комплектация для комфортной и безопасной эксплуатации автомобиля','Дизельный двигатель:','Боковая сдвижная дверь ШхВ: 1156 х 1745'],
      bg: '',
      text: 'Совместное предприятие создано ПАО «Соллерс» и Ford Motor Company в 2011 году для производства автомобилей марки Ford в России.',
      price: 'комплектация и цены',
      iconCount: 3,
   }
-;
