//fonts

$Montserrat = 'Montserrat',Helvetica,Arial,sans-serif;



//resp
$desktop = 'screen and (max-width: 1247px)';
$tablet = 'screen and (max-width: 1023px)';
$beforePhone = 'screen and (max-width: 991px)';
$phone = 'screen and (max-width: 767px)';
$phoneL = 'screen and (max-width: 575px)';
$phoneS = 'screen and (max-width: 374px)';
$phoneSmall = 'screen and (max-width: 320px)';

$beforePhone = 'screen and (min-width: 768px)';

$samsung9 = 'screen and (max-width: 360px) and (max-height: 720px)';

//color
$bg = #F7F7F7;
$orange = #EF4D07;
$text = #221F20;
$white = #ffffff;

$backFont = #DAD0C7;
$backFontHover = #c4bbb3;

