@import "var/variables"
@import "var/fonts"
@import "var/base"

//pages

//components
@import "../components/footer/footer";
@import "../components/header/header";
   
@import "../components/main-slider/main-slider";
@import "../components/car-img/car-img"
@import "../components/tabs/tabs"
@import "../components/map/map"
@import "../components/form/form"
@import "../components/block-car/block-car"
@import "../components/btn/btn"
@import "../components/checkbox/checkbox"

