.main-slider
   &__bg
      background-image: url('/f/img/main-slider2.jpg')
      background-position: 50% 50%
      background-size: contain
      background-repeat: no-repeat
      padding-bottom 36%
   &__text
      text-align: center
      font-weight: 700
      font-size: 80px
      line-height: 1em
      max-width: 50%
      margin: 0 auto
      padding-top 20px
      a
         text-decoration: underline
         color: $orange